[Desktop Entry]
Name=Bugzilla To-do List
Name[ca]=Llista de pendents de Bugzilla
Name[cs]=Seznam úkolů (Bugzilla)
Name[da]=Bugzilla gøremålsliste
Name[de]=Bugzilla Todo-Liste
Name[el]=Προς υλοποίηση λίστα του Bugzilla
Name[en_GB]=Bugzilla To-do List
Name[es]=Listado de tareas pendientes de BugZilla
Name[et]=Bugzilla ülesannete nimekiri
Name[eu]=Bugzilla-ren egiteke zerrenda
Name[fa]=فهرست کار انجامی Bugzilla
Name[fi]=Bugzilla-tehtäväluettelo
Name[fr]=Liste de tâches pour Bugzilla
Name[ga]=Tascliosta Bugzilla
Name[gl]=Lista de cousas por facer de Bugzilla
Name[he]=רשימת מטלות של Bugzilla
Name[hu]=Bugzilla feladatlista
Name[is]=Bugzilla verklisti
Name[it]=Lista delle cosa da fare di Bugzilla
Name[ja]=Bugzilla To-Do リスト
Name[kk]=Bugzilla To-do тізімі
Name[km]=បញ្ជី​ត្រូវ​ធ្វើ Bugzilla
Name[ko]=버그질라 할 일 목록
Name[lt]=Bugzilla darbų sąrašas
Name[lv]=Bugzilla darāmo darbu saraksts
Name[nb]=Bugzilla-huskeliste
Name[nds]=Bugzilla-Opgavenlist
Name[ne]=बगजिला गर्नुपर्ने कार्य सूची
Name[nl]=Bugzilla Todo-lijst
Name[nn]=Bugzilla-hugseliste
Name[pa]=ਬੱਗਜੀਲਾ ਟੂ-ਡੂ ਲਿਸਟ
Name[pl]=Lista rzeczy do zrobienia w Bugzilli
Name[pt]=Lista de Itens Por-Fazer do Bugzilla
Name[pt_BR]=Lista de Itens Por-Fazer do Bugzilla
Name[ro]=Listă De-făcut Bugzilla
Name[ru]=Список TODO Bugzilla
Name[sk]=Zoznam úloh v Bugzille
Name[sl]=Seznam »za-narediti« v Bugzilli
Name[sr]=Списак обавеза у Бубаждаји
Name[sr@latin]=Spisak obaveza u Bubaždaji
Name[sv]=Bugzilla uppgiftslista
Name[tr]=Bugzilla Yapılacaklar Listesi
Name[uk]=Список завдань Bugzilla
Name[x-test]=xxBugzilla To-do Listxx
Name[zh_CN]=Bugzilla 待办列表
Name[zh_TW]=Bugzilla 待辦清單
X-KDE-Library=kcal_bugzilla
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=bugzilla
